#board{
    width: 98%;
    height: 98%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 0.7vw;
    margin: 6px 6px 6px 6px;
}
@media all and (max-width: 1150px) {
    #board{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media all and (max-width: 1100px) {
    #board{
        grid-template-columns:repeat(4, 1fr);
    }
}
@media all and (max-width: 950px) {
    #board{
        grid-template-columns:repeat(3, 1fr);
    }
}
@media all and (max-width: 750px) {
    #board{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media all and (max-width: 500px) {
    #board{
        grid-template-columns:repeat(1, 1fr);
    }
}
.message{
    background-color: rgba(152, 152, 152, 0.43);
    border-color: rgba(78, 78, 78, 0.42);
    border-radius: 5px;
    height: 170px;
    min-width: 250px;
}
#comment{
    height: 130px;
    width: 95%;
    resize: none;
}
#submit--comment{
    height: 40px !important;
}
.delete{
    float: right;
    margin-top: -20px;
}