#user--ops{
    background-color: #4e4e4e;
    border: #4e4e4e solid 2px;
    color: rgba(208, 208, 208, 0.73);
    height: auto;
}
#user--slot{
    display: flex;
    justify-content: center;
}
#log--out{
    height: 40px;
    margin-top: 15px;
    margin-right: 30px;
    background-color: #4e4e4e;
    border: #4e4e4e solid 2px;
    color: rgba(208, 208, 208, 0.73);
}