.main--form{
    width: auto;

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
#submit{
    width: 80px;
    height: auto;
    color: rgba(208, 208, 208, 0.73);
}
input:not(#stayIn){
    color: #a8a8a8;
    margin: 4px 0 4px 0;
    height: 50%;
    width: 90%;
    text-align: center;
    border-radius: 4%;
    background-color: #4e4e4e;
    font-size: inherit;
    border: #4e4e4e solid 2px;
}
input:focus{
    color: #ffffff;
}
#stayIn{
    background-color: #4e4e4e;
}
label{
    text-align: left;
    width: max-content;
}

