html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: auto;
    -ms-scroll-snap-points-y: unset;
    background: rgba(29, 29, 29, 0.42);
    /*
    background: linear-gradient(90deg, rgba(94, 18, 102, 0.63) 0%, rgba(175, 12, 125, 0.61) 10%, rgba(179, 36, 185, 0.83) 25%, rgba(238, 40, 255, 0.76) 54%, rgba(171,123,184,1) 79%, rgba(0,212,255,1) 100%);
    */
}
html::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background-image: url(base-body-overlay.gif);
    /*
    background-image: url(https://i.pinimg.com/originals/4e/a6/3e/4ea63e12fdc0d696365a44161d0cb3c8.jpg);
    */
    filter: grayscale(1);
    opacity: .03;/*0,085*/
    pointer-events: none;
}
.App{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
            "header header user--ops"
            "info feed feed"
            "ads feed feed"
            "footer feed feed";
    grid-template-rows: 0.3fr 0.3fr auto 0.5fr;
    grid-template-columns:520px 1.4fr 195px;
    grid-gap: 0.7vw;
    margin: 6px 6px 6px 6px;
}
@media all and (max-width: 1100px){
    main{
        grid-template-areas:
                "header user--ops"
                "info ads"
                "feed feed"
                "footer footer";
        grid-template-rows: 0.3fr auto auto 0.3fr;
        grid-template-columns:700px auto;
        grid-gap: 1vw;
    }
    #info{
        flex-direction: row;
    }
    #header{
        padding-top: 5px;
        padding-left: 5px;
    }
}
@media all and (max-width: 850px){
    main{
        grid-template-areas:
                "header user--ops"
                "info info"
                "feed feed"
                "ads ads"
                "footer footer";
        grid-template-rows: 0.3fr auto auto auto 0.3fr;
        grid-template-columns:auto 150px;
        grid-gap: 1vw;
    }
}
#header{
    padding-top:10px;
    padding-left: 20px;
    grid-area: header;
    display: flex;
}
#photo{
    transform: scale(0.85);
    width: 230px;
    height: 315px;
    border-radius: 15px;
    float: left;
    object-fit: cover;
}
@media all and (max-width: 480px){
    #header{
        padding-left: 5px;
    }
    #photo{
        transform: scale(0.85);
        width: 200px;
        height: 290px;
    }
}
.title{
    margin: 5px auto 5px 12px;
    border-bottom: #f5f5f5 solid 2px;
    color: #00000080;
    display: -webkit-box;
    width: max-content;
}
#user--ops{
    grid-area: user--ops;
}
#buttons{
    grid-area: buttons;
}
#info{
    grid-area: info;
    width: auto;
    border-bottom: rgba(255, 255, 255, 0) solid 0.18em;
}
#feed{
    grid-area: feed;
}
#ads{
    grid-area: ads;

}
#footer{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: footer;
    background: rgba(52, 52, 52, 0.42);
    padding-left: 15px;
    padding-top: 10px;
}
.material-icons{
    color: white;
}
@keyframes flicker{
    0% {
        opacity: 0;
    }
    10% {
        margin-left: -2px;
        opacity: .6;
        color: rgba(192, 0, 53, 0.9);
        transform: scale(.95);
    }
    40% {
        opacity: 0.8;
    }
    70% {
        margin-right: -2px;
        color: rgba(0, 0, 255, 0.82);
        opacity: .8;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1.01);
    }
}
#contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -15px;
}
