body {
  width: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  width: 100%;
  height: auto;
}
a:visited{
  color: #d9d9d9;
}
textarea{
  color: #ffffff;
  font-size: 1.2em;
  line-height: 2.5;
  padding-left: 5px;
}
p{
  width: auto;
}
ul{
  margin-top: 0;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 1px;
  height: 100%;
}
@media all and (max-width: 1050px){
  ul{
    padding-top: 1px;
  }
  li{
    margin: 10px 0 0 15px;
  }
}
li{
  list-style: none;
  margin: 10px 0 0 15px;
  padding-top: 0;
}
li:first-child{
  margin: 20px 0 0 15px;
}
a:not(:hover){
  background-color: rgba(64, 64, 64, 0.42);;
}